[package]
name = "chatgpt_rs"
version = "1.1.8"
edition = "2021"
description = "ChatGPT API Wrapper"
authors = ["Maxuss <maxus.info.mail@proton.me>"]
license = "MIT"
repository = "https://github.com/Maxuss/chatgpt_rs"
keywords = ["ChatGPT", "OpenAI"]
categories = ["api-bindings"]

[lib]
name = "chatgpt"
path = "./src/chatgpt.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest = { version = "0.11.18", features = [
    "json",
    "rustls-tls",
], default-features = false }
tokio = { version = "1.28.2", features = ["macros"] }
serde = { version = "1.0.163", features = ["derive"] }
serde_json = { version = "1.0.96", optional = true }
thiserror = "1.0.38"
url = "2.4.0"
chrono = "0.4.26"
derive_builder = "0.12.0"

postcard = { version = "1.0.4", features = ["alloc"], optional = true }
eventsource-stream = { version = "0.2.3", optional = true }
futures = { version = "0.3.28", optional = true }
futures-util = { version = "0.3.28", optional = true }

[dev-dependencies]
tokio = { version = "1.28.2", features = ["macros", "rt-multi-thread"] }
chatgpt_rs = { path = ".", features = ["json", "streams", "postcard"] }

[features]
default = ["json"]
streams = [
    "dep:eventsource-stream",
    "dep:futures-util",
    "dep:futures",
    "reqwest/stream",
]
json = ["dep:serde_json", "tokio/fs"]
postcard = ["dep:postcard", "tokio/fs"]
